@import 'partials/normalize';
@import 'partials/variables';
@import 'partials/mixins';

body {
  @include no-scroll;
  background-image: url(../img/coffee.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: $full-width;
  height: $full-height;
}

.overlay {
  background-color: $overlay;
  position: absolute;
  top: 0;
  left: 0;
  width: $full-width;
  height: $full-height;
}


// === CONTENT ===
#card {
  @include center;
  @include border-style($shadow: 30px, $offset: 20px);
  background-color: #FFF;
  width: 80%;
  height: 85vh;
  // display: none;

  h1 {
    @include font-style($size: 46px, $font: $font-title);
    text-align: center;
    margin-bottom: 0.5em;
    margin-top: 0;
  }
  .card-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  .img-container {
    display: flex;
    flex-direction: column;
    justify-content: center;

    .chemex-img {
      height: 450px;
    }
  }

  // contains calculate button and instructions
  .brew-container {
    @include font-style($font: $font-text);
    display: flex;
    flex-direction: column;

    .calc-btn {
      @include btn-style;
      display: inline-block;
      align-self: center;

      &:hover {
        background-color: #FFF;
        border: solid 2px $medium-brown;
      }
    }

    .instructions {
      margin-right: 25px;

      .list-item {
        margin-bottom: 10px;
        line-height: 1.3;
      }
    }
  }
}

// === MODAL ===
// modal (background)
.modal {
  @include font-style($font: $font-text);
  @include modal-style;

  // modal content
  .modal-content {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    margin: 0 auto;
    background-color: $off-white;
    border: solid 2px $medium-brown;
    border-radius: 10px;
    padding: 40px;
    width: 33%;
  }

  // close button
  .close {
    color: $light-brown;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }

  .close:hover,
  .cloes:focus {
    color: $dark-brown;
    text-decoration: none;
    cursor: pointer;
  }

  form {
    text-align: center;

    p {
      @include font-style($size: 32px, $font: $font-title);
      margin-bottom: 25px;
    }

    #water-input {
      text-align: center;
      border: solid 1px $medium-brown;
      padding: 10px 10px;
    }

    .calc-coffee {
      @include btn-style($text-size: 24px, $padding: 10px 15px);
      margin-top: 35px;

      &:hover {
        background-color: #FFF;
        border: solid 2px $medium-brown;
      }
    }
  }
}
