
// === MIXINS ===

@mixin no-scroll {
  overflow-x: hidden;
  overflow-y: hidden;
}

@mixin center($position: absolute) {
  position: $position;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

@mixin btn-style {
  border: solid 2px #FFF;
  border-color: $off-white;
  border-radius: 10px;
  color: $medium-brown;
  text-align: center;
  font-size: 28px;
  padding: 15px 25px;
  font-weight: bold;
}

@mixin font-style($font, $size: 20px) {
  color: $dark-brown;
  font-size: $size;
  font-family: $font;
}

@mixin border-style($shadow: 20px, $offset: 10px) {
  border-radius: 20px;
  // border: 0;
  box-shadow: $offset (-$offset) $shadow #FFF, (-$offset) $offset $shadow #FFF, (-$offset) (-$offset) $shadow #FFF, $offset $offset $shadow #FFF;
}
